---
layout: default
---

<div class="post">
    <div class="post-info">  
        {% if page.date %}        
            {% if post.lang == 'br' %}
                <time datetime="{{ post.date }}">{{ post.date | date: "%d/%m/%Y" }}</time>
            {% else %}
                <time datetime="{{ post.date }}">{{ post.date | date: "%m/%d/%Y" }}</time>
            {% endif %}
        {% endif %}
    </div>

    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-line"></div>

    {{ content }}

    {% for tag in page.tags %}
        <code>{{ tag }}</code>
    {% endfor %}

    {% include share.html %}
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}